.contacts {
    padding: 15px 0;
  &__text {
    font-size: 18px;
    color:black;
    h2{
        font-size: 24px;
    }
  }
  &__subtext{
    a{
        color: #cc0000;
        font-size: 20px;
    }
  }
}
